.admin {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	width: 70vw;
	min-height: fit-content;
	height: 70vh;
	padding: 2rem;
	margin: auto;
	border-radius: 2rem;
	text-align: center;
	background-color: var(--background);
	box-shadow: 0 0 2rem var(--foreground);

	& .title {
		margin-bottom: 2rem;
		font-size: 3rem;
		font-weight: 700;
	}

	& .nav {
		display: flex;
		gap: 2rem;
		max-width: 90%;
		flex-wrap: wrap;
		margin: auto;
		justify-content: center;
	}

	& .editor {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		justify-content: center;
		width: 80%;

		& .form {
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}
	}

	& .inputcontainer {
        position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		width: 35vw;
	}

	& .label {
		font-weight: 700;
		margin-bottom: 0.5rem;
	}

	& .input {
		width: 100%;
		margin-bottom: 2rem;
		color: var(--foreground);
		background-color: transparent;
		border-bottom: 2px solid var(--foreground);
		opacity: 1;

		&::placeholder {
			color: var(--foreground);
		}

		&:placeholder-shown {
			opacity: 0.5;
		}

		&:focus {
			outline: none;
			opacity: 1;

			&::placeholder {
				color: transparent;
			}
		}
	}

	& .buttoncontainer {
		margin-left: auto;
	}

	& .formtitle {
		margin-top: 3rem;
		font-size: 2.5rem;
		font-weight: 700;
	}
}
