.trending{
    margin: 10rem 5vw;

    & .titlebar{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 4vh;

        & .title{
            font-size: 2rem;
            font-weight: 600;
        }

        & .button{
            margin-left: auto;
        }
    }

    .widecard{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 16rem;
        min-height: 16rem;
        padding: 2rem;
        border-radius: 1rem;
        background-color: var(--background);
        box-shadow: 0 0 1rem color-mix(in srgb, var(--foreground) 50%, var(--background) 50%);
        grid-column-start: 1;
        grid-column-end: 3;
    
        & .title{
            margin-top: 6rem;
            font-size: 4rem;
            line-height: 4rem;
            font-weight: 800;
            margin-bottom: 1.5rem;
        }
    
        & .description{
            font-size: 1.6rem;
            line-height: 1.6rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }
    
        & .button{
            margin-top: auto;
            margin-bottom: 2rem;
        }
    }
}