.footer{
    display: flex;
    align-items: center;
    height: 15vh;
    border-radius: 2rem 2rem 0 0;
    box-shadow: 0 -.2rem 1rem rgba(0, 0, 0, 0.3);
    padding: 1rem 4vw;

    & .copyright{
        margin-left: auto;
    }
}