.header {
	display: flex;
	align-items: center;
	border-radius: 0 0 2rem 2rem;
	box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.3);
	padding: 1rem 4vw;
    
	& .nav {
        display: flex;
		gap: 2rem;
		margin-left: auto;
		list-style-type: none;
        
		& .item {
            height: 4rem;

            &:last-of-type{
                margin-left: 2rem;
            }
		}
        
		& .avatar {
            
			& .img {
				height: 3.5rem;
				border-radius: 3.5rem;
			}
		}
	}
}
