.secondarybutton{
    height: 3.5rem;
    border-radius: 4rem;
    font-weight: 600;
    
    &.light {
        border: 2px solid var(--background);
        color: var(--background);
        transition: background-color .25s ease-out, color .25s ease-out;

        & .icon {
            & * {
                stroke: var(--background);
                fill: var(--background);
            }
        }

        &:hover{
            background-color: var(--background);
            color: var(--foreground);

            & .icon {
                & * {
                    stroke: var(--foreground);
                    fill: var(--foreground);
                    transition: all 0.25s ease-out;
                }
            }
        }
    }
    &.dark {
        border: 2px solid var(--foreground);
        color: var(--foreground);
        transition: background-color .25s ease-out, color .25s ease-out;

        & .icon {
			& * {
				stroke: var(--foreground);
				fill: var(--foreground);
                transition: all 0.25s ease-out;
			}
		}

        &:hover{
            background-color: var(--foreground);
            color: var(--background);

            & .icon {
				& * {
					stroke: var(--background);
					fill: var(--background);
				}
			}
        }
    }

    & .iconright {
		height: 2rem;
		margin: auto 0;
		margin-left: 1rem;
	}

	& .iconleft {
		height: 2rem;
		margin: auto 0;
		margin-right: 1rem;
	}
    
    & .link{
        display: flex;
        width: fit-content;
        padding: 0 2rem;
        height: 100%;
        border-radius: 4rem;

        & .label{
            margin: auto;
        }
    }
}