.loginformcontainer {
	display: flex;
	width: 100vw;
	height: 100vh;
	margin: 0;

	& .form {
        display: flex;
        flex-direction: column;
		height: fit-content;
		width: 35vw;
		padding: 4rem 3rem;
		margin: auto;
		border-radius: 1rem;
		background-color: var(--background);
		box-shadow: 0 0 2rem var(--foreground);

		& .title {
			font-size: 2rem;
			font-weight: 600;
			text-align: center;
			margin-bottom: 3rem;
		}

		& .input {
			width: 100%;
			height: 2rem;
			margin-bottom: 2rem;
			color: var(--foreground);
			background-color: transparent;
			border-bottom: 2px solid var(--foreground);
			opacity: 1;

			&::placeholder {
				color: var(--foreground);
			}

			&:placeholder-shown {
				opacity: 0.5;
			}

			&:focus {
				outline: none;
				opacity: 1;

				&::placeholder {
					color: transparent;
				}
			}
		}

		& .emailloginbtn {
			width: 100%;
			height: 3rem;
			margin-top: 1rem;
			background-color: var(--primary2);
			color: black;
			font-weight: 800;
			letter-spacing: 0;
			border: none;
			border-radius: 0.5rem;
			cursor: pointer;
		}

        & .gitform {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-top: 5rem;
            margin-bottom: 3rem;
            
            &::before {
                content: "";
                position: absolute;
                top: -1.5rem;
                left: 0;
                width: 100%;
                height: 0;
                border-bottom: 1px solid var(--foreground);
            }
            
            &::after {
                content: "or";
                position: absolute;
                top: -1.5rem;
                left: 50%;
                padding: 0 0.5rem;
                transform: translate(-50%, -50%);
                width: fit-content;
                background-color: var(--background);
            }

            & .gitbtn {
                display: flex;
                align-items: center;
                gap: 1rem;
                height: 3rem;
                width: 17rem;
                margin: 1rem 0;
                padding: 0.5rem 1rem;
                background-color: black;
                border-radius: 0.5rem;
                transition: background-color 0.25s ease-out;
                
                &:hover {
                    background-color: rgb(48, 48, 48);
                    
                    & .gitlogo{
                        background-color: rgb(202, 202, 202);
                    }
                }
                
                & .gitlogo {
                    height: 80%;
                    border-radius: 100%;
                    background-color: white;
                    filter: invert();
                    transition: background-color 0.25s ease-out;
                }
    
                & .gittext {
                    letter-spacing: 0pt;
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: white;
                }
            }
        }
        
        & .noaccount{
            display: flex;
            justify-content: center;
            margin-top: auto;
        }
	}

}
