.primarybutton {
	height: 3.5rem;
	border-radius: 4rem;
	font-weight: 600;
	width: fit-content;

	&.light {
		border: 2px solid var(--background);
		background-color: var(--background);
		color: var(--foreground);
		transition:
			background-color 0.25s ease-out,
			color 0.25s ease-out;

		& .icon {
			& * {
				stroke: var(--foreground);
				fill: var(--foreground);
                transition: all 0.25s ease-out;
			}
		}

		&:hover {
			background-color: var(--foreground);
			color: var(--background);

			& .icon {
				& * {
					stroke: var(--background);
					fill: var(--background);
				}
			}
		}
	}

	&.dark {
		border: 2px solid var(--foreground);
		background-color: var(--foreground);
		color: var(--background);
		transition:
			background-color 0.25s ease-out,
			color 0.25s ease-out;

		& .icon {
			& * {
				stroke: var(--background);
				fill: var(--background);
                transition: all 0.25s ease-out;
			}
		}

		&:hover {
			background-color: var(--background);
			color: var(--foreground);

			& .icon {
				& * {
					stroke: var(--foreground);
					fill: var(--foreground);
				}
			}
		}
	}

	& .iconright {
		height: 1.5rem;
		margin: auto 0;
		margin-left: 1rem;
	}

	& .iconleft {
		height: 1.5rem;
		margin: auto 0;
		margin-right: 1rem;
	}

	& .link {
		display: flex;
		width: fit-content;
		padding: 0 2rem;
		height: 100%;
		border-radius: 4rem;

		& .label {
			margin: auto;
		}
	}
}
